{% extends 'base.html' %}
{% block content %}
{% for school in object_list %}
<div class="panel">
    <h3><a href="{{ school.get_absolute_url }}">{{ school.title }}</a></h3>
    <p>Asked by {{ school.user.username }} on {{ school.created_at }}</p>
    <p>{{ school.vote_set.all.count }} Vote{{ school.vote_set.all.count|pluralize }}</p>
<form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="school" value="{{ school.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
</form>
</div>
{% endfor %}
{% endblock %}